<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bigbit</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/img/favicon.ico" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>
    <!-- Bootstrap Core CSS -->
    <link href="css/css/bootstrap.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="css/css/font-awesome.css" rel="stylesheet" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/css/patros.css?v2">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
			<![endif]-->
    <style shopback-extension-v6-6-9="" data-styled-version="4.2.0"></style>
</head>

<body data-spy="scroll">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">切換導航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="img/img/logo.svg" alt="company logo"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right custom-menu">
                    <li class=""><a href="#home">首頁</a></li>
                    <li><a href="#about">關於我們</a></li>
                    <li><a href="#services">服務優勢</a></li>
                    <li class=""><a href="#meet-team">優質計畫</a></li>
                    <li class="active"><a href="#portfolio1">投資組合</a></li>
                    <li><a href={$slink}>聯絡我們</a></li>
                    <li><a href="register">立刻加入</a></li>
                    <li><a href="login">登入</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header Carousel -->
    <header id="home" class="carousel slide">
        <ul class="cb-slideshow" style="margin-top: 0px;">
            <li><span>image1</span>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <h3>投資組合更上一層樓</h3>
                            </div>
                        </div>
                    </div>
                    <h4>將業務擴展到整個加密貨幣產業鏈</h4>
                </div>
            </li>
            <li><span>image2</span>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <h3>讓交易更自信</h3>
                            </div>
                        </div>
                    </div>
                    <h4>以誠信、創新的價值觀，把客戶放在第一位</h4>
                </div>
            </li>
            <li><span>image3</span>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <h3>提供最優質服務</h3>
                            </div>
                        </div>
                    </div>
                    <h4>提供優質服務，享有卓越交易體驗</h4>
                </div>
            </li>
            <li><span>Image 04</span>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <h3>金融產品的創造者</h3>
                            </div>
                        </div>
                    </div>
                    <h4>獨特銷售主張，以特殊方式在市場中定位</h4>
                </div>
            </li>
            <li><span>Image 05</span>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <h3>已有 809,997 人加入百萬交易行列</h3>
                            </div>
                        </div>
                    </div>
                    <h4>更便宜的購買加密貨幣，更高的價格出售</h4>
                </div>
            </li>
            <li><span>Image 06</span>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <h3>全球頂尖社群交易網路投資組合</h3>
                            </div>
                        </div>
                    </div>
                    <h4>我們讓您輕鬆管理您的加密貨幣投資組合</h4>
                </div>
            </li>
        </ul>
        <div class="intro-scroller">
            <a class="inner-link" href="#about">
                <div class="mouse-icon" style="opacity: 1;">
                    <div class="wheel"></div>
                </div>
            </a>
        </div>
    </header>
    <!-- Page Content -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="text-center">
                        <h2>關於我們</h2>
                        <img class="img-responsive displayed" src="img/img/short.png" alt="Company about">
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    我們的首要任務是讓交易更自信！<br>投融天下投資管理 以誠信，創新的核心價值觀，始終把客戶放在第一位，全力以赴，使各級交易者發揮自己的真正潛力。 我們努力工作，以確保客戶享有卓越的交易體驗，其體現在無論是客戶服務，各種產品和多樣化的平台，還是 投融天下投資管理 的優質計畫。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="orangeback">
            <div class="container">
                <div class="text-center homeport2">
                    <h2>我們服務的優勢</h2>
                </div>
                <div class="row">
                    <div class="col-sm-12 homeservices1">
                        <div class="row">
                            <div class="col-lg col-md-3 iq-r-mt-40">
                                <div class="iq-small-icon">
                                    <img src="img/img/04_003.png" alt="icon">
                                    <h3>安全 &amp;可靠</h3>
                                </div>
                            </div>
                            <div class="col-lg col-md-3 iq-r-mt-40">
                                <div class="iq-small-icon">
                                    <img src="img/img/05_002.png" alt="icon">
                                    <h3>更多貨幣</h3>
                                </div>
                            </div>
                            <div class="col-lg col-md-3 iq-r-mt-40">
                                <div class="iq-small-icon">
                                    <img src="img/img/06_002.png" alt="icon">
                                    <h3>輕鬆支付</h3>
                                </div>
                            </div>
                            <div class="col-lg col-md-3 iq-r-mt-40">
                                <div class="iq-small-icon">
                                    <img src="img/img/07.png" alt="icon">
                                    <h3>每日提現</h3>
                                </div>
                            </div>

                        </div>

                    </div>


                </div>
            </div>
        </div>
        </div>
    </section>
    <section id="meet-team">
        <div class="container">
            <div class="text-center">
                <h2>選擇優質計畫</h2>
                <img class="img-responsive displayed" src="img/img/short.png" alt="about">
            </div>
            <div class="row homeport1">
                <div class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
                    <figure class="effect-oscar">
                        <img src="img/img/blog1.jpg" alt="img09" class="img-responsive">
                        <figcaption>
                            <h2>網上外匯交易<br>FOREX</h2>
                            <a href="#">FOREX</a>
                        </figcaption>
                    </figure>
                    <p class="text-justify">近幾年隨著網上經紀商崛起、線上交易平臺技術發展，外匯 (Forex 或 FX) 交易在行業外個人群體中的聲名日益顯赫。高流動性、每週五天不停歇運行、蘊含巨大的機會，這些都是外匯市場的特點，也難怪其日成交量達到５萬億美元，並成為全球交易最活躍的市場。</p>
                    <div class="text-center">
                        <a class="btn btn-primary btn-noborder-radius hvr-bounce-to-bottom">瞭解更多</a></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
                    <figure class="effect-oscar">
                        <img src="img/img/blog2.jpg" alt="img09" class="img-responsive">
                        <figcaption>
                            <h2>差價合約交易<br>AITO</h2>
                            <a href="#">AITO</a>
                        </figcaption>
                    </figure>
                    <p class="text-justify">差價合約非常多樣化，它幾乎可用在交易所有的金融工具上。是一種場外金融衍生品，交易人可從標的資產的價格波動中獲利，無論漲跌。這是表示當您進行交易時不是在買賣實際資產，而是針對交易該資產時的價格與結束交易時的價格間的價差，簽定相關合約。</p>
                    <div class="text-center">
                        <a class="btn btn-primary btn-noborder-radius hvr-bounce-to-bottom">瞭解更多</a></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
                    <figure class="effect-oscar">
                        <img src="img/img/blog3.jpg" alt="img09" class="img-responsive">
                        <figcaption>
                            <h2>交易平臺<br>SOFTWARE</h2>
                            <a href="#">SOFTWARE</a>
                        </figcaption>
                    </figure>
                    <p class="text-justify">未了恪守對交易者以及投資者的承諾，提供多種交易，支援手動交易以及自動交易。<br>每個交易平臺都為每一位元客戶提供了優質的交易體驗、多樣的交易品種，以便從繁多的分析工具、指數、和圖表中選擇適合自己的一款。<br> </p>
                    <div class="text-center">
                        <a class="btn btn-primary btn-noborder-radius hvr-bounce-to-bottom">瞭解更多</a></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
                    <figure class="effect-oscar">
                        <img src="img/img/blog4.jpg" alt="img09" class="img-responsive">
                        <figcaption>
                            <h2>直觀易操作<br>APP</h2>
                            <a href="#">APP</a>
                        </figcaption>
                    </figure>
                    <p class="text-justify">擁有簡潔的控制介面和高級的功能，自動化交易軟體滿足對成功投資者的交易進行複製，在移動設備上運用介面友好、先進與直觀的主螢幕輕鬆交易。<br>
                        <i class="fa fa-angle-right" style="color: #8a03ff; font-weight: bold;"></i> 目前參與人數：103K
                        <br>
                        <i class="fa fa-angle-right" style="color: #8a03ff; font-weight: bold;"></i> 個人最高回饋：51K
                        <br>
                        <i class="fa fa-angle-right" style="color: #8a03ff; font-weight: bold;"></i> 個人回饋率：65%
                    </p>
                    <div class="text-center">
                        <a class="btn btn-primary btn-noborder-radius hvr-bounce-to-bottom">瞭解更多</a></div>
                </div>
            </div>
        </div>

    </section>
    <section id="portfolio1" class=" digital_currencies_area">
        <div class="container">
            <div class="digital_currencies_inner row">
                <div class="col-md-7 investing_contyent">
                    <h3>為什麼這麼多人投資比特幣數位貨幣？</h3>
                    <h6>買賣比特幣</h6>
                    <p>投融天下投資管理 是一個適合所有想買賣比特幣投資人的地方並且加入來自世界各地的超過 809997 名用戶對我們的服務感到滿意。 只要使用您的 Visa/MasterCard 或銀行轉賬存入資金。 保證以公平價格即時買賣或搬磚賺取比特幣價差。</p>

                </div>
                <div class="col-md-5 investing_img">
                    <img src="img/img/digital-currencies.png" alt="">
                </div>
            </div>
        </div>

    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="text-center ">
                        <h2>成為我們的合夥人</h2>
                        <h4>已有 809,997 人加入百萬交易行列</h4>
                        <p style="padding: 0 5%;">投融天下投資管理 的目標是將來將業務擴展到整個加密貨幣產業鏈並通過技術創新為全球用戶提供服。 我們將向您展示在哪裡可以更便宜地購買加密貨幣並立即以更高的價格出售。</p>
                        <div class="text-center" style="padding-top: 30px; padding-bottom: 30px;">
                            <a class="btn btn-primary btn-noborder-radius hvr-bounce-to-bottom" href="register">立刻加入</a></div>
                        <p><small>我們絕不會分享您的信息或使用它來向您發送垃圾郵件</small></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="container">
            <div class="row myfooter">
                <div class="col-sm-6">
                    <div class="pull-left" style="text-align:center; line-height:65px;">
                        Copyrights © 2021 <a href="#">投融天下投資管理</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook social-icons"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter social-icons"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus social-icons"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin social-icons"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/js/jquery_002.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/js/bootstrap.js"></script>
    <!-- Portfolio -->
    <script src="js/js/jquery.js"></script>
    <!--Jquery Smooth Scrolling-->
    <script>
        $(document).ready(function() {
            $('.custom-menu a[href^="#"], .intro-scroller .inner-link').on('click', function(e) {
                e.preventDefault();

                var target = this.hash;
                var $target = $(target);

                $('html, body').stop().animate({
                    'scrollTop': $target.offset().top
                }, 900, 'swing', function() {
                    window.location.hash = target;
                });
            });

            $('a.page-scroll').bind('click', function(event) {
                var $anchor = $(this);
                $('html, body').stop().animate({
                    scrollTop: $($anchor.attr('href')).offset().top
                }, 1500, 'easeInOutExpo');
                event.preventDefault();
            });

            $(".nav a").on("click", function() {
                $(".nav").find(".active").removeClass("active");
                $(this).parent().addClass("active");
            });

            $('body').append('<div id="toTop" class="btn btn-primary color1"><span class="glyphicon glyphicon-chevron-up"></span></div>');
            $(window).scroll(function() {
                if ($(this).scrollTop() != 0) {
                    $('#toTop').fadeIn();
                } else {
                    $('#toTop').fadeOut();
                }
            });
            $('#toTop').click(function() {
                $("html, body").animate({
                    scrollTop: 0
                }, 700);
                return false;
            });

        });
    </script>
    <script>
        function gallery() {};

        var $itemsHolder = $('ul.port2');
        var $itemsClone = $itemsHolder.clone();
        var $filterClass = "";
        $('ul.filter li').click(function(e) {
            e.preventDefault();
            $filterClass = $(this).attr('data-value');
            if ($filterClass == 'all') {
                var $filters = $itemsClone.find('li');
            } else {
                var $filters = $itemsClone.find('li[data-type=' + $filterClass + ']');
            }
            $itemsHolder.quicksand(
                $filters, {
                    duration: 1000
                },
                gallery
            );
        });

        $(document).ready(gallery);
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            inicializemap()

            $('#contactForm').on('submit', function(e) {
                e.preventDefault();
                e.stopPropagation();

                // get values from FORM
                var name = $("#name").val();
                var email = $("#email").val();
                var message = $("#message").val();
                var goodToGo = false;
                var messgaeError = 'Request can not be send';
                var pattern = new RegExp(/^(('[\w-\s]+')|([\w-]+(?:\.[\w-]+)*)|('[\w-\s]+')([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);


                if (name && name.length > 0 && $.trim(name) != '' && message && message.length > 0 && $.trim(message) != '' && email && email.length > 0 && $.trim(email) != '') {
                    if (pattern.test(email)) {
                        goodToGo = true;
                    } else {
                        messgaeError = 'Please check your email address';
                        goodToGo = false;
                    }
                } else {
                    messgaeError = 'You must fill all the form fields to proceed!';
                    goodToGo = false;
                }


                if (goodToGo) {
                    $.ajax({
                        data: $('#contactForm').serialize(),
                        beforeSend: function() {
                            $('#success').html('<div class="col-md-12 text-center"><img src="img/img/spinner1.gif" alt="spinner" /></div>');
                        },
                        success: function(response) {
                            if (response == 1) {
                                $('#success').html('<div class="col-md-12 text-center">Your email was sent successfully</div>');
                                window.location.reload();
                            } else {
                                $('#success').html('<div class="col-md-12 text-center">E-mail was not sent. Please try again!</div>');
                            }
                        },
                        error: function(e) {
                            $('#success').html('<div class="col-md-12 text-center">We could not fetch the data from the server. Please try again!</div>');
                        },
                        complete: function(done) {
                            console.log('Finished');
                        },
                        type: 'POST',
                        url: 'js/send_email.php',
                    });
                    return true;
                } else {
                    $('#success').html('<div class="col-md-12 text-center">' + messgaeError + '</div>');
                    return false;
                }
                return false;
            });
        });

        var map = null;
        var latitude;
        var longitude;

        function inicializemap() {
            latitude = 41.3349509;
            longitude = 19.8217028;

            var egglabs = new google.maps.LatLng(latitude, longitude);
            var egglabs1 = new google.maps.LatLng(43.0630171, 89.2296082);
            var egglabs2 = new google.maps.LatLng(13.0630171, 80.2296082);


            var image = new google.maps.MarkerImage('images/marker.png', new google.maps.Size(84, 56), new google.maps.Point(0, 0), new google.maps.Point(42, 56));
            var mapCoordinates = new google.maps.LatLng(latitude, longitude);
            var mapOptions = {
                backgroundColor: '#ffffff',
                zoom: 10,
                disableDefaultUI: true,
                center: mapCoordinates,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                scrollwheel: true,
                draggable: true,
                zoomControl: false,
                disableDoubleClickZoom: true,
                mapTypeControl: false,
                styles: [{
                    "featureType": "all",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "color": "#1f242f"
                    }]
                }, {
                    "featureType": "all",
                    "elementType": "labels.icon",
                    "stylers": [{
                        "hue": "#ff9d00"
                    }]
                }, {
                    "featureType": "landscape.man_made",
                    "elementType": "geometry.fill",
                    "stylers": [{
                        "color": "#fef8ef"
                    }]
                }, {
                    "featureType": "poi.medical",
                    "elementType": "geometry.fill",
                    "stylers": [{
                        "hue": "#ff0000"
                    }]
                }, {
                    "featureType": "poi.park",
                    "elementType": "geometry.fill",
                    "stylers": [{
                        "color": "#c9d142"
                    }, {
                        "lightness": "0"
                    }, {
                        "visibility": "on"
                    }, {
                        "weight": "1"
                    }, {
                        "gamma": "1.98"
                    }]
                }, {
                    "featureType": "road",
                    "elementType": "geometry",
                    "stylers": [{
                        "weight": "1.00"
                    }]
                }, {
                    "featureType": "road",
                    "elementType": "geometry.fill",
                    "stylers": [{
                        "color": "#d7b19c"
                    }, {
                        "weight": "1"
                    }]
                }, {
                    "featureType": "road.highway",
                    "elementType": "geometry",
                    "stylers": [{
                        "visibility": "on"
                    }]
                }, {
                    "featureType": "road.highway",
                    "elementType": "geometry.fill",
                    "stylers": [{
                        "weight": "4.03"
                    }]
                }, {
                    "featureType": "road.highway",
                    "elementType": "geometry.stroke",
                    "stylers": [{
                        "visibility": "off"
                    }, {
                        "color": "#ffed00"
                    }]
                }, {
                    "featureType": "road.highway.controlled_access",
                    "elementType": "geometry.fill",
                    "stylers": [{
                        "visibility": "on"
                    }]
                }, {
                    "featureType": "road.arterial",
                    "elementType": "geometry",
                    "stylers": [{
                        "visibility": "on"
                    }]
                }, {
                    "featureType": "road.local",
                    "elementType": "geometry",
                    "stylers": [{
                        "visibility": "on"
                    }]
                }, {
                    "featureType": "transit.line",
                    "elementType": "geometry.fill",
                    "stylers": [{
                        "color": "#cbcbcb"
                    }]
                }, {
                    "featureType": "water",
                    "elementType": "geometry.fill",
                    "stylers": [{
                        "color": "#0b727f"
                    }]
                }]
            };

            map = new google.maps.Map(document.getElementById('map-canvas-holder'), mapOptions);
            marker = new google.maps.Marker({
                position: egglabs,
                raiseOnDrag: false,
                icon: image,
                map: map,
                draggable: false,
                title: 'ATIS1'
            });
            marker = new google.maps.Marker({
                position: egglabs1,
                raiseOnDrag: false,
                icon: image,
                map: map,
                draggable: false,
                title: 'ATIS2'
            });
            marker = new google.maps.Marker({
                position: egglabs2,
                raiseOnDrag: false,
                icon: image,
                map: map,
                draggable: false,
                title: 'ATIS3'
            });
            google.maps.event.addListener(map, 'zoom_changed', function() {
                var center = map.getCenter();
                google.maps.event.trigger(map, 'resize');
                map.setCenter(center);
            });
        }
    </script>


    <div id="toTop" class="btn btn-primary color1" style="display: block;"><span class="glyphicon glyphicon-chevron-up"></span></div>
</body>

</html>