.MuiTouchRipple-root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  border-radius: inherit;
  pointer-events: none;
}

.MuiTouchRipple-ripple {
  opacity: 0;
  position: absolute;
}

.MuiTouchRipple-rippleVisible {
  opacity: 0.3;
  animation: MuiTouchRipple-keyframes-enter 550ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
}

.MuiTouchRipple-ripplePulsate {
  animation-duration: 200ms;
}

.MuiTouchRipple-child {
  width: 100%;
  height: 100%;
  display: block;
  opacity: 1;
  border-radius: 50%;
  background-color: currentColor;
}

.MuiTouchRipple-childLeaving {
  opacity: 0;
  animation: MuiTouchRipple-keyframes-exit 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.MuiTouchRipple-childPulsate {
  top: 0;
  left: 0;
  position: absolute;
  animation: MuiTouchRipple-keyframes-pulsate 2500ms cubic-bezier(0.4, 0, 0.2, 1) 200ms infinite;
}

@-webkit-keyframes MuiTouchRipple-keyframes-enter {
  0% {
    opacity: 0.1;
    transform: scale(0);
  }

  100% {
    opacity: 0.3;
    transform: scale(1);
  }

}

@-webkit-keyframes MuiTouchRipple-keyframes-exit {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}

@-webkit-keyframes MuiTouchRipple-keyframes-pulsate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.92);
  }

  100% {
    transform: scale(1);
  }

}


.MuiButtonBase-root {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.MuiButtonBase-root::-moz-focus-inner {
  border-style: none;
}

.MuiButtonBase-root.Mui-disabled {
  cursor: default;
  pointer-events: none;
}

@media print {
  .MuiButtonBase-root {
    -webkit-print-color-adjust: exact;
  }

}


.jss30 {
  color: white;
  width: auto;
  height: 36px;
  padding: 0 20px;
  font-size: 14px;
  background: linear-gradient(145deg, #4888f2 0%, #2861f6 100%);
  font-weight: normal;
  border-radius: 4px;
}

.jss30 svg {
  margin-right: calc(12px / 2);
}

.jss30:hover {
  color: white;
  opacity: 0.8;
}

.jss30.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss31 {
  color: white;
  width: auto;
  height: 36px;
  padding: 0 20px;
  font-size: 14px;
  background: linear-gradient(145deg, #4888f2 0%, #2861f6 100%);
  font-weight: normal;
  border-radius: 4px;
}

.jss31 svg {
  margin-right: calc(12px / 2);
}

.jss31:hover {
  color: white;
  opacity: 0.8;
}

.jss31.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss32 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss32 svg {
  margin-right: calc(12px / 2);
}

.jss32:hover {
  opacity: 0.8;
}

.jss32.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss41 {
  color: white;
  width: auto;
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
  background: #23bb69;
  font-weight: normal;
  border-radius: 4px;
}

.jss41 svg {
  margin-right: calc(12px / 2);
}

.jss41:hover {
  color: white;
  opacity: 0.8;
  background: #23bb69;
}

.jss41.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss42 {
  color: #282829;
  width: auto;
  border: 0;
  height: 36px;
  padding: 0 20px;
  font-size: 14px;
  background: white;
  font-weight: normal;
  border-radius: 4px;
}

.jss42 svg {
  margin-right: calc(12px / 2);
}

.jss42:hover {
  color: #2861f6;
  background: white;
  border-color: #e6f1fc;
  text-decoration: underline;
}

.jss42.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss43 {
  color: #282829;
  width: auto;
  border: 0;
  height: 36px;
  padding: 0 20px;
  font-size: 14px;
  background: white;
  font-weight: normal;
  border-radius: 4px;
}

.jss43 svg {
  margin-right: calc(12px / 2);
}

.jss43:hover {
  color: #2861f6;
  background: white;
  border-color: #e6f1fc;
  text-decoration: underline;
}

.jss43.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss44 {
  color: #282829;
  width: auto;
  border: 0;
  height: 36px;
  padding: 0 20px;
  font-size: 14px;
  background: white;
  font-weight: normal;
  border-radius: 4px;
}

.jss44 svg {
  margin-right: calc(12px / 2);
}

.jss44:hover {
  color: #2861f6;
  background: white;
  border-color: #e6f1fc;
  text-decoration: underline;
}

.jss44.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss45 {
  color: #282829;
  width: auto;
  border: 0;
  height: 36px;
  padding: 0 20px;
  font-size: 14px;
  background: white;
  font-weight: normal;
  border-radius: 4px;
}

.jss45 svg {
  margin-right: calc(12px / 2);
}

.jss45:hover {
  color: #2861f6;
  background: white;
  border-color: #e6f1fc;
  text-decoration: underline;
}

.jss45.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss46 {
  color: #282829;
  width: auto;
  border: 0;
  height: 36px;
  padding: 0 20px;
  font-size: 14px;
  background: white;
  font-weight: normal;
  border-radius: 4px;
}

.jss46 svg {
  margin-right: calc(12px / 2);
}

.jss46:hover {
  color: #2861f6;
  background: white;
  border-color: #e6f1fc;
  text-decoration: underline;
}

.jss46.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss47 {
  color: #282829;
  width: auto;
  border: 0;
  height: 36px;
  padding: 0 20px;
  font-size: 14px;
  background: white;
  font-weight: normal;
  border-radius: 4px;
}

.jss47 svg {
  margin-right: calc(12px / 2);
}

.jss47:hover {
  color: #2861f6;
  background: white;
  border-color: #e6f1fc;
  text-decoration: underline;
}

.jss47.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss48 {
  color: #282829;
  width: auto;
  border: 0;
  height: 36px;
  padding: 0 20px;
  font-size: 14px;
  background: white;
  font-weight: normal;
  border-radius: 4px;
}

.jss48 svg {
  margin-right: calc(12px / 2);
}

.jss48:hover {
  color: #2861f6;
  background: white;
  border-color: #e6f1fc;
  text-decoration: underline;
}

.jss48.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss49 {
  color: #282829;
  width: auto;
  border: 0;
  height: 36px;
  padding: 0 20px;
  font-size: 14px;
  background: white;
  font-weight: normal;
  border-radius: 4px;
}

.jss49 svg {
  margin-right: calc(12px / 2);
}

.jss49:hover {
  color: #2861f6;
  background: white;
  border-color: #e6f1fc;
  text-decoration: underline;
}

.jss49.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss50 {
  color: #282829;
  width: auto;
  border: 0;
  height: 36px;
  padding: 0 20px;
  font-size: 14px;
  background: white;
  font-weight: normal;
  border-radius: 4px;
}

.jss50 svg {
  margin-right: calc(12px / 2);
}

.jss50:hover {
  color: #2861f6;
  background: white;
  border-color: #e6f1fc;
  text-decoration: underline;
}

.jss50.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss51 {
  color: #282829;
  width: auto;
  border: 0;
  height: 36px;
  padding: 0 20px;
  font-size: 14px;
  background: white;
  font-weight: normal;
  border-radius: 4px;
}

.jss51 svg {
  margin-right: calc(12px / 2);
}

.jss51:hover {
  color: #2861f6;
  background: white;
  border-color: #e6f1fc;
  text-decoration: underline;
}

.jss51.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss52 {
  color: #282829;
  width: auto;
  border: 0;
  height: 36px;
  padding: 0 20px;
  font-size: 14px;
  background: white;
  font-weight: normal;
  border-radius: 4px;
}

.jss52 svg {
  margin-right: calc(12px / 2);
}

.jss52:hover {
  color: #2861f6;
  background: white;
  border-color: #e6f1fc;
  text-decoration: underline;
}

.jss52.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss53 {
  color: #282829;
  width: auto;
  border: 0;
  height: 36px;
  padding: 0 20px;
  font-size: 14px;
  background: white;
  font-weight: normal;
  border-radius: 4px;
}

.jss53 svg {
  margin-right: calc(12px / 2);
}

.jss53:hover {
  color: #2861f6;
  background: white;
  border-color: #e6f1fc;
  text-decoration: underline;
}

.jss53.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss54 {
  color: #282829;
  width: auto;
  border: 0;
  height: 36px;
  padding: 0 20px;
  font-size: 14px;
  background: white;
  font-weight: normal;
  border-radius: 4px;
}

.jss54 svg {
  margin-right: calc(12px / 2);
}

.jss54:hover {
  color: #2861f6;
  background: white;
  border-color: #e6f1fc;
  text-decoration: underline;
}

.jss54.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss55 {
  color: #282829;
  width: auto;
  border: 0;
  height: 36px;
  padding: 0 20px;
  font-size: 14px;
  background: white;
  font-weight: normal;
  border-radius: 4px;
}

.jss55 svg {
  margin-right: calc(12px / 2);
}

.jss55:hover {
  color: #2861f6;
  background: white;
  border-color: #e6f1fc;
  text-decoration: underline;
}

.jss55.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss56 {
  color: #282829;
  width: auto;
  border: 0;
  height: 36px;
  padding: 0 20px;
  font-size: 14px;
  background: white;
  font-weight: normal;
  border-radius: 4px;
}

.jss56 svg {
  margin-right: calc(12px / 2);
}

.jss56:hover {
  color: #2861f6;
  background: white;
  border-color: #e6f1fc;
  text-decoration: underline;
}

.jss56.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss57 {
  color: #282829;
  width: auto;
  border: 0;
  height: 36px;
  padding: 0 20px;
  font-size: 14px;
  background: white;
  font-weight: normal;
  border-radius: 4px;
}

.jss57 svg {
  margin-right: calc(12px / 2);
}

.jss57:hover {
  color: #2861f6;
  background: white;
  border-color: #e6f1fc;
  text-decoration: underline;
}

.jss57.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss58 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss58 svg {
  margin-right: calc(12px / 2);
}

.jss58:hover {
  opacity: 0.8;
}

.jss58.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss59 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss59 svg {
  margin-right: calc(12px / 2);
}

.jss59:hover {
  opacity: 0.8;
}

.jss59.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss60 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss60 svg {
  margin-right: calc(12px / 2);
}

.jss60:hover {
  opacity: 0.8;
}

.jss60.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss61 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss61 svg {
  margin-right: calc(12px / 2);
}

.jss61:hover {
  opacity: 0.8;
}

.jss61.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss62 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss62 svg {
  margin-right: calc(12px / 2);
}

.jss62:hover {
  opacity: 0.8;
}

.jss62.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss63 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss63 svg {
  margin-right: calc(12px / 2);
}

.jss63:hover {
  opacity: 0.8;
}

.jss63.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss64 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss64 svg {
  margin-right: calc(12px / 2);
}

.jss64:hover {
  opacity: 0.8;
}

.jss64.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss65 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss65 svg {
  margin-right: calc(12px / 2);
}

.jss65:hover {
  opacity: 0.8;
}

.jss65.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss66 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss66 svg {
  margin-right: calc(12px / 2);
}

.jss66:hover {
  opacity: 0.8;
}

.jss66.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss67 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss67 svg {
  margin-right: calc(12px / 2);
}

.jss67:hover {
  opacity: 0.8;
}

.jss67.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss68 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss68 svg {
  margin-right: calc(12px / 2);
}

.jss68:hover {
  opacity: 0.8;
}

.jss68.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss100 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss100 svg {
  margin-right: calc(12px / 2);
}

.jss100:hover {
  opacity: 0.8;
}

.jss100.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss101 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss101 svg {
  margin-right: calc(12px / 2);
}

.jss101:hover {
  opacity: 0.8;
}

.jss101.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss102 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss102 svg {
  margin-right: calc(12px / 2);
}

.jss102:hover {
  opacity: 0.8;
}

.jss102.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss103 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss103 svg {
  margin-right: calc(12px / 2);
}

.jss103:hover {
  opacity: 0.8;
}

.jss103.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss104 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss104 svg {
  margin-right: calc(12px / 2);
}

.jss104:hover {
  opacity: 0.8;
}

.jss104.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss105 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss105 svg {
  margin-right: calc(12px / 2);
}

.jss105:hover {
  opacity: 0.8;
}

.jss105.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss106 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss106 svg {
  margin-right: calc(12px / 2);
}

.jss106:hover {
  opacity: 0.8;
}

.jss106.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss107 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss107 svg {
  margin-right: calc(12px / 2);
}

.jss107:hover {
  opacity: 0.8;
}

.jss107.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss108 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss108 svg {
  margin-right: calc(12px / 2);
}

.jss108:hover {
  opacity: 0.8;
}

.jss108.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss109 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss109 svg {
  margin-right: calc(12px / 2);
}

.jss109:hover {
  opacity: 0.8;
}

.jss109.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss110 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss110 svg {
  margin-right: calc(12px / 2);
}

.jss110:hover {
  opacity: 0.8;
}

.jss110.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss111 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss111 svg {
  margin-right: calc(12px / 2);
}

.jss111:hover {
  opacity: 0.8;
}

.jss111.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss112 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss112 svg {
  margin-right: calc(12px / 2);
}

.jss112:hover {
  opacity: 0.8;
}

.jss112.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss113 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss113 svg {
  margin-right: calc(12px / 2);
}

.jss113:hover {
  opacity: 0.8;
}

.jss113.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss114 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss114 svg {
  margin-right: calc(12px / 2);
}

.jss114:hover {
  opacity: 0.8;
}


.jss114.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss115 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss115 svg {
  margin-right: calc(12px / 2);
}

.jss115:hover {
  opacity: 0.8;
}

.jss115.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss116 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss116 svg {
  margin-right: calc(12px / 2);
}

.jss116:hover {
  opacity: 0.8;
}

.jss116.Mui-disabled {
  color: white;
  background: #ccc;
}



.jss117 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss117 svg {
  margin-right: calc(12px / 2);
}

.jss117:hover {
  opacity: 0.8;
}

.jss117.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss118 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss118 svg {
  margin-right: calc(12px / 2);
}

.jss118:hover {
  opacity: 0.8;
}

.jss118.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss119 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss119 svg {
  margin-right: calc(12px / 2);
}

.jss119:hover {
  opacity: 0.8;
}

.jss119.Mui-disabled {
  color: white;
  background: #ccc;
}



.jss120 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss120 svg {
  margin-right: calc(12px / 2);
}

.jss120:hover {
  opacity: 0.8;
}

.jss120.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss121 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss121 svg {
  margin-right: calc(12px / 2);
}

.jss121:hover {
  opacity: 0.8;
}

.jss121.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss122 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss122 svg {
  margin-right: calc(12px / 2);
}

.jss122:hover {
  opacity: 0.8;
}

.jss122.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss123 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss123 svg {
  margin-right: calc(12px / 2);
}

.jss123:hover {
  opacity: 0.8;
}

.jss123.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss124 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss124 svg {
  margin-right: calc(12px / 2);
}

.jss124:hover {
  opacity: 0.8;
}

.jss124.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss137 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss137 svg {
  margin-right: calc(12px / 2);
}

.jss137:hover {
  opacity: 0.8;
}

.jss137.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss138 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss138 svg {
  margin-right: calc(12px / 2);
}

.jss138:hover {
  opacity: 0.8;
}

.jss138.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss139 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss139 svg {
  margin-right: calc(12px / 2);
}

.jss139:hover {
  opacity: 0.8;
}

.jss139.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss140 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss140 svg {
  margin-right: calc(12px / 2);
}

.jss140:hover {
  opacity: 0.8;
}

.jss140.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss141 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss141 svg {
  margin-right: calc(12px / 2);
}

.jss141:hover {
  opacity: 0.8;
}

.jss141.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss142 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss142 svg {
  margin-right: calc(12px / 2);
}

.jss142:hover {
  opacity: 0.8;
}

.jss142.Mui-disabled {
  color: white;
  background: #ccc;
	}

.jss143 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss143 svg {
  margin-right: calc(12px / 2);
}

.jss143:hover {
  opacity: 0.8;
}

.jss143.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss144 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss144 svg {
  margin-right: calc(12px / 2);
}

.jss144:hover {
  opacity: 0.8;
}

.jss144.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss145 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss145 svg {
  margin-right: calc(12px / 2);
}

.jss145:hover {
  opacity: 0.8;
}

.jss145.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss146 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss146 svg {
  margin-right: calc(12px / 2);
}

.jss146:hover {
  opacity: 0.8;
}

.jss146.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss147 {
  color: white;
  width: auto;
  height: 36px;
  padding: 0 20px;
  font-size: 14px;
  background: linear-gradient(145deg, #4888f2 0%, #2861f6 100%);
  font-weight: normal;
  border-radius: 4px;
}

.jss147 svg {
  margin-right: calc(12px / 2);
}

.jss147:hover {
  color: white;
  opacity: 0.8;
}

.jss147.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss175 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss175 svg {
  margin-right: calc(12px / 2);
}

.jss175:hover {
  opacity: 0.8;
}

.jss175.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss176 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss176 svg {
  margin-right: calc(12px / 2);
}

.jss176:hover {
  opacity: 0.8;
}

.jss176.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss177 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss177 svg {
  margin-right: calc(12px / 2);
}

.jss177:hover {
  opacity: 0.8;
}

.jss177.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss178 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss178 svg {
  margin-right: calc(12px / 2);
}

.jss178:hover {
  opacity: 0.8;
}

.jss178.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss179 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss179 svg {
  margin-right: calc(12px / 2);
}

.jss179:hover {
  opacity: 0.8;
}

.jss179.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss180 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss180 svg {
  margin-right: calc(12px / 2);
}

.jss180:hover {
  opacity: 0.8;
}

.jss180.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss181 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss181 svg {
  margin-right: calc(12px / 2);
}

.jss181:hover {
  opacity: 0.8;
}

.jss181.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss182 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss182 svg {
  margin-right: calc(12px / 2);
}

.jss182:hover {
  opacity: 0.8;
}

.jss182.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss183 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss183 svg {
  margin-right: calc(12px / 2);
}

.jss183:hover {
  opacity: 0.8;
}

.jss183.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss184 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss184 svg {
  margin-right: calc(12px / 2);
}

.jss184:hover {
  opacity: 0.8;
}

.jss184.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss185 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss185 svg {
  margin-right: calc(12px / 2);
}

.jss185:hover {
  opacity: 0.8;
}

.jss185.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss186 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss186 svg {
  margin-right: calc(12px / 2);
}

.jss186:hover {
  opacity: 0.8;
}

.jss186.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss187 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss187 svg {
  margin-right: calc(12px / 2);
}

.jss187:hover {
  opacity: 0.8;
}

.jss187.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss188 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss188 svg {
  margin-right: calc(12px / 2);
}

.jss188:hover {
  opacity: 0.8;
}

.jss188.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss189 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss189 svg {
  margin-right: calc(12px / 2);
}

.jss189:hover {
  opacity: 0.8;
}

.jss189.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss190 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss190 svg {
  margin-right: calc(12px / 2);
}

.jss190:hover {
  opacity: 0.8;
}

.jss190.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss191 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss191 svg {
  margin-right: calc(12px / 2);
}

.jss191:hover {
  opacity: 0.8;
}

.jss191.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss192 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss192 svg {
  margin-right: calc(12px / 2);
}

.jss192:hover {
  opacity: 0.8;
}

.jss192.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss193 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss193 svg {
  margin-right: calc(12px / 2);
}

.jss193:hover {
  opacity: 0.8;
}

.jss193.Mui-disabled {
  color: white;
  background: #ccc;
}

.jss194 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss194 svg {
  margin-right: calc(12px / 2);
}

.jss194:hover {
  opacity: 0.8;
}

.jss194.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss195 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss195 svg {
  margin-right: calc(12px / 2);
}

.jss195:hover {
  opacity: 0.8;
}

.jss195.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss196 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss196 svg {
  margin-right: calc(12px / 2);
}

.jss196:hover {
  opacity: 0.8;
}

.jss196.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss197 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss197 svg {
  margin-right: calc(12px / 2);
}

.jss197:hover {
  opacity: 0.8;
}

.jss197.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss198 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss198 svg {
  margin-right: calc(12px / 2);
}

.jss198:hover {
  opacity: 0.8;
}

.jss198.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss199 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss199 svg {
  margin-right: calc(12px / 2);
}

.jss199:hover {
  opacity: 0.8;
}

.jss199.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss200 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss200 svg {
  margin-right: calc(12px / 2);
}

.jss200:hover {
  opacity: 0.8;
}

.jss200.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss201 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss201 svg {
  margin-right: calc(12px / 2);
}

.jss201:hover {
  opacity: 0.8;
}

.jss201.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss230 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss230 svg {
  margin-right: 0;
}

.jss230:hover {
  opacity: 0.8;
}

.jss230.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss231 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss231 svg {
  margin-right: 0;
}

.jss231:hover {
  opacity: 0.8;
}

.jss231.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss232 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss232 svg {
  margin-right: calc(12px / 2);
}

.jss232:hover {
  opacity: 0.8;
}

.jss232.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss233 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss233 svg {
  margin-right: calc(12px / 2);
}

.jss233:hover {
  opacity: 0.8;
}

.jss233.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss234 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss234 svg {
  margin-right: calc(12px / 2);
}

.jss234:hover {
  opacity: 0.8;
}

.jss234.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss235 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss235 svg {
  margin-right: calc(12px / 2);
}

.jss235:hover {
  opacity: 0.8;
}

.jss235.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss236 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss236 svg {
  margin-right: calc(12px / 2);
}

.jss236:hover {
  opacity: 0.8;
}

.jss236.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss237 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss237 svg {
  margin-right: calc(12px / 2);
}

.jss237:hover {
  opacity: 0.8;
}

.jss237.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss238 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss238 svg {
  margin-right: calc(12px / 2);
}

.jss238:hover {
  opacity: 0.8;
}

.jss238.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss239 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss239 svg {
  margin-right: calc(12px / 2);
}

.jss239:hover {
  opacity: 0.8;
}

.jss239.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss240 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss240 svg {
  margin-right: calc(12px / 2);
}

.jss240:hover {
  opacity: 0.8;
}

.jss240.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss241 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss241 svg {
  margin-right: calc(12px / 2);
}

.jss241:hover {
  opacity: 0.8;
}

.jss241.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss242 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss242 svg {
  margin-right: calc(12px / 2);
}

.jss242:hover {
  opacity: 0.8;
}

.jss242.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss243 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss243 svg {
  margin-right: calc(12px / 2);
}

.jss243:hover {
  opacity: 0.8;
}

.jss243.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss244 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss244 svg {
  margin-right: calc(12px / 2);
}

.jss244:hover {
  opacity: 0.8;
}

.jss244.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss245 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss245 svg {
  margin-right: calc(12px / 2);
}

.jss245:hover {
  opacity: 0.8;
}

.jss245.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss246 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss246 svg {
  margin-right: calc(12px / 2);
}

.jss246:hover {
  opacity: 0.8;
}

.jss246.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss247 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss247 svg {
  margin-right: calc(12px / 2);
}

.jss247:hover {
  opacity: 0.8;
}

.jss247.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss248 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss248 svg {
  margin-right: calc(12px / 2);
}

.jss248:hover {
  opacity: 0.8;
}

.jss248.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss249 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss249 svg {
  margin-right: calc(12px / 2);
}

.jss249:hover {
  opacity: 0.8;
}

.jss249.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss250 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss250 svg {
  margin-right: calc(12px / 2);
}

.jss250:hover {
  opacity: 0.8;
}

.jss250.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss251 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss251 svg {
  margin-right: calc(12px / 2);
}

.jss251:hover {
  opacity: 0.8;
}

.jss251.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss252 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss252 svg {
  margin-right: calc(12px / 2);
}

.jss252:hover {
  opacity: 0.8;
}

.jss252.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss283 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss283 svg {
  margin-right: 0;
}

.jss283:hover {
  opacity: 0.8;
}

.jss283.Mui-disabled {
  color: white;
  background: #ccc;
}

.jss284 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss284 svg {
  margin-right: 0;
}

.jss284:hover {
  opacity: 0.8;
}

.jss284.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss285 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss285 svg {
  margin-right: 0;
}

.jss285:hover {
  opacity: 0.8;
}

.jss285.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss286 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss286 svg {
  margin-right: 0;
}

.jss286:hover {
  opacity: 0.8;
}

.jss286.Mui-disabled {
  color: white;
  background: #ccc;
}


.jss287 {
  color: #282829;
  width: auto;
  height: calc(14px * 1.5);
  padding: 0;
  font-size: 14px;
  background: none;
  font-weight: normal;
  line-height: calc(14px * 1.5);
  border-radius: 0;
}

.jss287 svg {
  margin-right: 0;
}

.jss287:hover {
  opacity: 0.8;
}

.jss287.Mui-disabled {
  color: white;
  background: #ccc;
}
